[data-theme='dark'] {
  --bg: #282c35;
  --bg-secondary: #a1a1a1b8;
  --header: #fff;
  --textNormal: hsla(0, 0%, 100%, 0.88);
  --textTitle: #fff;
  --textLink: #ffa7c4;
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: rgba(115, 124, 153, 0.2);
  --inlineCode-text: #e6e6e6;
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
}

[data-theme='light'] {
  --bg: #fff;
  --bg-secondary: #7b7b7bb0;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #d23669;
  --hr: rgba(0, 0, 0, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);

} 

body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100%; 
  font-family: Montserrat, sans-serif;

}

h3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.75rem;
  margin-bottom: 0.4375rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: var(--textLink);
}

h3:hover {
  opacity: 0.5;
}

P {
  color: var(--textNormal);
}

main {
  background-color: var(--bg);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 2.625rem 1.3125rem;


}

.my-app {
  background-color: var(--bg);
  height: 100vh;
  overflow: auto;

}

.my-app h1 {
  color: var(--textLink);
}

.header-text {
  color: var(--textTitle);
  font-size: 1.98818rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: var(--textNormal);
  background: var(--bg);
  font-size: 12px;
}


.theme-change {
  background-color: var(--bg-secondary);
  border-radius: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.theme-change:hover {
  opacity: 0.5;
}